<%layout('layouts/referralTemplate')%>
<div class="row">
    <div class="col-md-12">
        <%- include('../flash/messages') %>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <p class="text-center">Your referral Link is <a href="http://<%=host%>/register/<%=currentUser.referralLink%>" target="_blank">http://<%=host%>/register/<%=currentUser.referralLink%></a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row mt-3">
            <div class="col-md-6">
                <table class="table table-dark table-striped">
                    <p class="fs-4 text-center">Referral List</p>
                    <thead>
                        <tr>
                          <th scope="col">Reg. Date</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%if(referrer.length > 0){%>
                            <%for(i=0; i < referrer.length; i++){%>
                                <tr>
                                    <td><%=moment(referrer[i].createdAt).format('MMMM Do YYYY, h:mm a');%></td>
                                    <td><%=referrer[i].userName%></td>
                                    <td><%=referrer[i].userEmail%></td>
                                </tr>
                            <%}%>
                          <%} else {%>
                                <p class="text-center text-danger">You've not refer anyone</p>
                          <%}%>
                      
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-dark table-striped">
                    <p class="fs-4 text-center">Your Referral Details</p>
                    <thead>
                        <tr>
                          <th scope="col">Your Referral ID</th>
                          <th scope="col">Total Num. of Views</th>
                          <th scope="col">Total Num. of Referrals</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                           <td class="text-center"><%=currentUser.referralLink%></td>
                            <td class="text-center"><%=currentUser.referralView%></td>
                            <td class="text-center"><%=currentUser.referralCount%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>